body {
    font-family: 'Montserrat' !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 4em !important;
}
h2 {
    font-weight: 400 !important;
    font-size: 3em !important;
}

.bg-lpurple {
    background: #FEF7FF;
}

span.text-muted {
    font-size: .84em !important;
}

.container-js {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.j-100 {
    width: 100%;
    height: 100vh;
}

.carousel-caption {
    bottom: 250px !important;
}

/* BUTTONS */

.btn-js {
    color: #631173 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    text-transform: uppercase;
    font-size: 1em !important;
}
.btn-js:hover {
    background-color: #470753 !important;
    border-color: #470753!important;
    color: #ffffff !important;
}

.btn-jsx {
    color: #ffffff !important;
    background-color: #631173 !important;
    border-color: #631173 !important;
    text-transform: uppercase;
    font-size: 1em !important;
}
.btn-jsx:hover {
    background-color: #470753 !important;
    border-color: #470753!important;
}

.js-btn {
    display: inline-block;
}

.js-sub {
    border-radius: 0em .1em .1em 0em !important;
}

.btn-js-b::after{
    content:'';
    display: block;
    height: 1px;
    width: 0%;
    margin-top: 1px;
    background-color: #470753;
    transition: width .3s;
}

.btn-js-b:hover::after {
    width: 100%;
    transition: width .3s;
}
.btn-js-b:hover {
    color: #470753;
    transition-duration: .5s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #080d15;
    opacity: .5;
}


/* PADDING */

.ptop-xl {
    padding-top: 130px;
}
 .ptop-l {
     padding-top: 100px;
 }
 .ptop-m {
    padding-top: 50px;
}
 .ptop-s {
     padding-top: 25px;
 }
 .ptop-xs {
    padding-top: 10px;
}
.ptop-xxs {
    padding-top: 5px;
}
.pbtm-xl {
    padding-bottom: 130px;
}
 .pbtm-l {
     padding-bottom: 100px;
 }
 .pbtm-m {
     padding-bottom: 50px;
 }
 .pbtm-s {
    padding-bottom: 25px;
}
.pbtm-xs {
    padding-bottom: 10px;
}
.pbtm-xxs {
   padding-bottom: 5px;
}

.bg-js {
    background: #631173;
    color: white;
}

.pull-r {
    float: right;
}

.navbar-nav .nav-link {
    padding-right: 1.5em !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff !important;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa8c !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.js-brand {
    margin-left: 5rem !important;
    font-weight: bold !important;
    color: #fff !important;
    font-size: 1.8rem !important;
}

ul.nav {
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.nav-pills .nav-link.active {
  color: #470753 !important;
  background-color: transparent !important;
  border-bottom: solid 2px;
  border-radius: 0rem;;
}

.tab-menu ul>li a {
    color: #c294ca !important;
}

.tab-menu ul>li a:hover {
    color: #470753 !important;
}

.hm-img {
    height: 100vh;
    min-height: 450px;
    background-image: url('../img/hm.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .pa-img {
    height: 100vh;
    min-height: 450px;
    background-image: url('../img/pa.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .badge-js {
    color: #fff;
    background-color: #631173;;
    padding: .5em 0.8em !important;
    font-size: 60% !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    line-height: 1.2 !important;
}

.search {
    margin: auto;
    width: 40%;
}

.social {
    display: inline;
    padding-right: 20px;
}

.js-social .social {
    color: #c294ca !important;
}

.js-social .social:hover {
    color: #470753 !important;
}

footer a:hover {
    text-decoration: none;
}

footer li {
    list-style: none;
    line-height: 1.8 !important;
  }

  footer li a {
      color: #212529;
  }

  footer li a:hover {
      color: #631173;
  }

  footer h5 {
      font-size: 1em;
      color: #631173;
      font-weight: 600;
  }

.image-box {
    position: relative;
  }
 
.image-box {
    position: relative;
  }
  
  
  .image-box__background,
  .image-box__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .image-box__background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/pa.jpg");
  
    z-index: 1
  }
  
  .image-box__overlay {
    background: rgba(0, 0, 0, 0.5);
  
    z-index: 2;
  }
  
  .image-box__content {
    position: relative;
    top: 25px;
    z-index: 3;
    
    color: white;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .breadcrumb li>a {
    color: #631173;
  }

  .breadcrumb {
      background: #D0B7D5 !important;
      border-radius: 0rem !important;
  }

  .expertise span {
      font-weight: bold;
  }

  .expertise a {
      color: #631173;
  }

  .expertise a:hover {
    color: #470753;
    text-decoration: none;
}

.js-slide {
    position: absolute;
    bottom: 120px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 80%;
}

.journal p {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.journal .badge {
    padding: .8em 1em;
    font-weight: normal;
}

.journal .bade-js {
    color: #6c757d;
    background-color: #e9ecef;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 3em !important;
    }

    .breadcrumb {
        display: none !important;
    }
    .search {
        width: 100%;
    }
    .container-js {
        width: 100%;
    }
    .sub {
        font-size: 2em !important;
    }

    .j-100 {
        width: auto;
    }

    .js-slide {
        bottom: 50px;
    }
    .journal p {
        font-size: initial;
    }
}